<%- layout('layout') %>
<div class="container">
    <!--左侧文章列表-->
    <div class="col-sm-8">
        <!--搜索框,在xs时显示-->
        <div class="panel panel-body panel-default hidden-lg hidden-md hidden-sm">
            <form action="/search" method="post">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span>查找</button>
                    </span>
                </div><!-- /input-group -->
            </form>
        </div>
        <%
        blogs.forEach(function(blog){
        %>
        <div class="panel panel-body panel-default">
            <span class="label label-success"><%=blog.blog_tag%></span>
            <h2><a href="#"><%= blog.blog_title %></a></h2>
            <hr>
            <p><%= blog.blog_content %></p>
            <hr>
            <div>
                <a class="btn btn-primary" href="./detail/<%= blog._id %>">
                    阅读全文
                </a>
                <div class="pull-right">
                    <span class="glyphicon glyphicon-time"><%= blog.timeStr %></span>
                    <span class="glyphicon glyphicon-user"><%= blog.username %></span>
                    <span class="glyphicon glyphicon-comment"><%= blog.view_count %></span>
                </div>
            </div>
        </div>
        <%
        })
        %>

        <!--分页-->
        <ul class="pagination">
            <li><a href="/?page=1">&lt&lt</a></li>

            <%
            //如果不做类型转换，page取到的是String类型，下面所做的判断基本都乱套了
            page = Number(page);
            if(page - 2 > 0){
            %>
            <li><a href="javascript:void(0)">...</a></li>
            <%
            }
            %>
            <% var i = 2;
                    while(i > 0){
            if(page - i > 0){
            %>
            <li><a href="javascript:void(0)" onclick="loadPage(<%=page-i%>)"><%= page - i %></a></li>
            <%
            }i--;
            }
            %>
            <li><a href="javascript:void(0)" onclick="loadPage(<%=page%>)"><%= page %></a></li>
            <% i = 1;
                    while(i <= 2){
            if(page + i <= pageCount){
            %>
            <li><a href="javascript:void(0)" onclick="loadPage(<%=page+i%>)"><%= page + i %></a></li>
            <%
            }i++;
            }
            %>
            <%
            if(page + 2 < pageCount){
            %>
            <li><a href="javascript:void(0)">...</a></li>
            <%
            }
            %>
            <li><a href="javascript:void(0) %>">&gt&gt</a></li>
        </ul>
    </div>
    <!--利用ajax进行分页请求-->
    <script>
        function loadPage(page)
        {
            var xmlhttp;
            if (window.XMLHttpRequest)
            {
                //  IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
                xmlhttp=new XMLHttpRequest();
            }
            else
            {
                // IE6, IE5 浏览器执行代码
                xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.onreadystatechange=function()
            {
                if (xmlhttp.readyState==4 && xmlhttp.status==200)
                {
                    var blogs = xmlhttp.responseText;
                    alert(blogs);
                }
            }
            xmlhttp.open("GET","/?page="+page,true);
            xmlhttp.send();
        }
    </script>

    <!--侧边栏-->
    <div class="col-sm-4 hidden-xs">
        <%- partial('sidebar') %>
    </div>
</div>
