<!--搜索框-->
<div class="panel panel-body panel-default">
    <form action="/search" method="post">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="...">
            <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span
                                class="glyphicon glyphicon-search"></span>查找</button>
                </span>
        </div><!-- /input-group -->
    </form>
</div>
<div class="panel panel-body">
    <ul class="nav nav-pills nav-justified">
        <li class="active"><a href="#newest_articles" data-toggle="pill">阅读最多</a></li>
        <li><a href="#newest_comments" data-toggle="pill">最新评论</a></li>
        <li><a href="#random_articles" data-toggle="pill">随机文章</a></li>
    </ul>
    <hr class="hr-strong">
    <div class="tab-content">
        <div class="tab-pane active" id="newest_articles">
            <%
            vc10Blog.forEach(function(blog){ %>
            <h4><a href="/detail/<%= blog.blog_id %>"><%= blog.blog_title %></a></h4>
            <hr>
            <%
            })
            %>
        </div>
        <div class="tab-pane fade" id="newest_comments">
            <% comments.forEach(function(comment){
            %>
            <div class="media">
                <div class="media-left">
                    <img class="media-object img-circle comments-img"
                         src="https://www.hongweipeng.com/usr/themes/GreenGrapes/img/bg.jpg" alt="评论人头像">
                </div>
                <div class="media-body">
                    <h6><%= comment.username %></h6>
                    <p><%= comment.comment_content %></p>
                    <h6><a href="/detail/<%= comment.blog_id %>">评：<%= comment.blog_title %></a></h6>
                </div>
            </div>
            <hr>
            <%
            }) %>
        </div>
        <div class="tab-pane fade" id="random_articles">
            <%
            new10Blog.forEach(function(blog){ %>
            <h4><a href="/detail/<%= blog.blog_id %>"><%= blog.blog_title %></a></h4>
            <hr>
            <%
            })
            %>
        </div>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <span class="glyphicon-cloud">标签云</span>
    </div>
    <div class="panel-body">
        asfasdfasdf
    </div>
</div>